#glo-login-cover ,#glo-login-wraper *,html,body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html,body{
    width:100%;
    height:100%;
}
#glo-login-cover{
    position: absolute;
    top: 0;
    width:100%;
    height:100%;
    background-color:rgba(255,255,255,0.5);
    font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    display: none;
}
#glo-login-wraper{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 360px;
    background-color: rgba(0,0,0,0.8);
    font-size: 16px;
    border-radius: 10px;
    text-align: left;
    transition: all 0.5s ease-in-out;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.21);
    display: none;
}
#glo-login-cover ::after{
    display: table;
    content: '';
}
#glo-login-cover .cont_tabs_login {
    position: relative;
    float: left;
    width: 100%;
}
.cont_tabs_login ::after{
    content: '';
    width: 0;
    height:0;
    clear: both;
}
.ul_tabs::after{
    content: '';
    width: 0;
    height:0;
    clear: both;
}
.ul_tabs > li {
    position: relative;
    float: left;
    width: 50%;
    list-style: none;
    text-align: center;

}

#glo-login-cover .ul_tabs > li > a {
    display: block;
    text-decoration: none;
    font-size: 16px;
    line-height: 14px;
    padding: 20px ;
    display: block;
    transition: all 0.5s;
    color:white;
    cursor: pointer;
}

.ul_tabs > .active > a  {
    color: #FF8383;

}

.linea_bajo_nom {
    position: relative;
    width: 100%;
    float: left;
    background-color: #999;
    height: 2px;
    transition: all 0.5s ease-in-out;
}

.active .linea_bajo_nom {
    position: relative;
    width: 100%;
    float: left;
    background-color:#049cdb ;
    height: 2px;
}

#glo-login-cover .login-form-area{
    width: 100%;
    padding:1.5rem 2.5rem;
    clear: both;
}

#glo-login-cover .signup-form-area{
    width: 100%;
    padding:1.5rem 2.5rem;
    clear: both;
    display: none;
}
#glo-login-cover .tip{
    float: right;
    font-size: 12px;
    font-weight: normal;
    color: red;
}
#glo-login-cover input{
    width:22rem;
    outline: none;
    border: none;
    background-color: transparent;
    color: #FDFCFD;
}
#glo-login-cover .line{
    height: 50px;
    padding-top: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
#glo-login-cover .submit{
    position: relative;
    width: 100%;
    height: 50px;
    margin-top:2rem;
    color: rgba(255, 255, 255, 0.8);
    background: #049cdb;
    font-size: 1.5rem;
    border-radius: 3rem;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    border: none;
    font-size: 16px;
    transition: width 0.3s 0.15s, font-size 0.1s 0.15s;
}
#glo-login-cover .submit.failed{
    background-color: red;
}
#glo-login-cover .submit.success{
    background-color: #00B247;
}
#glo-login-cover .icon-spinner{
    display: block;
    animation:spin 2s infinite;
}
@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(180deg);
    }
}