#top_bar .cart{
    float: left;
    margin-left: 43px;
}
#top_bar .btn_set{
    float: right;
    margin-right: 37px;
}
#top_bar .btn_set a{
    margin-right: 10px;
}
#top_bar .memberOption{
    padding: 0 20px;
    width: auto;
    height: 22px;
    line-height: 22px;
    text-align: center;
}