#content{
    width:100%;
    padding: 20px 20px;
}
#content::after{
    content:'';
    width:0;
    height:0;
    display: block;
    clear: both;
}
#content .left-side{
    width:15%;
    position: absolute;
    left:20px;
}
#content .right-side{
    width:80%;
    position: absolute;
    right:20px;
    margin-bottom: 20px;
}
#content .menue{
    padding-left: 40px;
}